.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1008px;
  margin: 0 auto;
  align-items: center;
  padding: 120px 0;
  position: relative;
}

.news {
  width: 100%;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 120px;
}

.more-news {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

/* Для экранов шире 768px - 3 колонки */
@media (min-width: 768px) {
  .news {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Для экранов уже 768px - 2 колонки */
@media (max-width: 767px) {
  .news {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Для экранов уже 480px - 1 колонка */
@media (max-width: 480px) {
  .news {
    grid-template-columns: 1fr;
  }
}