.carousel {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}

.carousel-item {
  /* Расстояние между элементами */
  padding: 0 4px;
  box-sizing: border-box;
  outline: none;
}
