.contact-card {
    flex: 1;
    background: #f7f7f7;
    border-radius: 16px;
    padding: 48px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
    height: 288px;
}

.contact-icon {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 110px;
}

.contact-text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    color: var(--color-primary);
    white-space: pre-line;
}

/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {}

/* Для экранов уже 768px - 2 колонки */
@media (max-width: 767px) {
    .contact-card {
        height: 180px;
        padding: 30px;
        justify-content: center;
        gap: 15px;
    }

    .contact-icon {
        width: 80px;
        height: 80px;
    }

    .image {
        width: 74px;
    }

    .contact-text {
        font-size: 16px;
        line-height: 20px;
    }
}

/* Для экранов уже 480px - 1 колонка */
@media (max-width: 480px) {}