.section {
    width: 100%;
    padding: 0 12px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

.feedbacks {
    width: calc(100vw - 16px);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

.column {
    width: 100%;
    min-height: 148px;
    overflow: hidden;
    position: relative;
}

.scroll-content {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.scroll-content > div {
    width: 320px;
}

/* Анимации */
@keyframes scroll-up {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes scroll-down {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

.scroll-up {
    animation: scroll-up 65s linear infinite;
}

.scroll-down {
    animation: scroll-down 60s linear infinite;
}

.scroll-down:hover,
.scroll-up:hover {
  animation-play-state: paused;
}

/* Разные скорости для столбцов */
.column:nth-child(1) .scroll-down {
    animation-duration: 35s;
}

.column:nth-child(2) .scroll-up {
    animation-duration: 30s;
}

.column:nth-child(3) .scroll-down {
    animation-duration: 35s;
}

@media (max-width: 1023px) {}

/* Для экранов шире 768px */
@media (min-width: 768px) {}

/* Для экранов уже 768px */
@media (max-width: 767px) {
    .content {
        gap: 72px;
    }

    .feedbacks {
        gap: 12px;
    }

    .scroll-content {
        gap: 12px;
    }
}

/* Для экранов уже 480px */
@media (max-width: 480px) {}