.card {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 372px;
}

.number {
    width: 32px;
    height: 32px;
    background-color: #ffc404;
    border-radius: 21.33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: #1a1a1a;
    font-size: 17.1px;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-family: 'Geist', sans-serif;
    font-weight: 600;
    color: #1E1E1E;
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 24px;
    margin: 0;
}

.description {
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    color: #1E1E1E;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}