.card {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 372px;
    min-width: 320px;
}

.number {
    width: 32px;
    height: 32px;
    background-color: #ffc404;
    border-radius: 21.33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    color: #1a1a1a;
    font-size: 17.1px;
    text-align: center;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-weight: 600;
    color: var(--color-primary);
    font-size: 16px;
    letter-spacing: -0.32px;
    line-height: 24px;
    margin: 0;
}

.description {
    font-weight: 400;
    color: var(--color-primary);
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {
    .card {
        max-width: 100%;
    }
}

/* Для экранов уже 768px */
@media (max-width: 767px) {
    
}

/* Для экранов уже 480px */
@media (max-width: 480px) {}