.section {
    width: 100%;
    margin-top: 134px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.button-all {
    padding: 0 32px;
}

.partners-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 20px;
    gap: 16px;
}

.partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 268px;
    height: 80px;
    border-radius: 16px;
    gap: 12px;
    padding: 20px 80px;
}
