.section {
    width: 100%;
    margin-top: 134px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.button-all {
    padding: 0 32px;
}

.partners-container {
    width: 100%;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.partner-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    border-radius: 16px;
    gap: 12px;
    padding: 20px 80px;
}

.select {
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.select>div {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1023px) {
    .buttons button {
        padding: 0 20px;
        font-size: 13px;
    }
}

/* Для экранов шире 768px */
@media (min-width: 768px) {}

/* Для экранов уже 768px */
@media (max-width: 767px) {
    .buttons {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .select>div {
        min-width: 100%;
    }

    .partners-container {
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    }

    .partner-item {
        padding: 16px 50px;
    }
}

/* Для экранов уже 480px */
@media (max-width: 480px) {}