version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: yigim:latest
    container_name: yigim
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    networks:
      - app_network

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./ssl:/etc/nginx/ssl
    depends_on:
      - app
    networks:
      - app_network

networks:
  app_network:
    driver: bridge