.section {
    padding: 80px 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
}

.header {
    padding: 32px 120px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 120px;
}

.subtitle {
    font-family: 'Geist', sans-serif;
    font-weight: 500;
    color: #888888;
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.title {
    font-family: 'Geist', sans-serif;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 48px;
    letter-spacing: -0.96px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 0;
}

.grid {
    margin-top: 120px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    width: 100%;
}
