.footer {
    display: flex;
    justify-content: center;
    background: #1b1b1b;
    padding: 140px 20px 48px 20px;
    margin-top: -40px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1120px;
    width: 100%;
}

.footer-top {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.footer-social-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-pane {
    display: flex;
    flex-direction: column;
    margin-top: 84px;
    gap: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #4B4B4B;
}

.footer-logo {
    width: 156px;
}

.footer-links {
    display: flex;
    flex-grow: 1;
    width: 100%;
    max-width: 720px;
    justify-content: space-between;
}

.social-links {
    display: flex;
    gap: 8px;
}

.social-link {
    flex: 1;
    display: flex;
    align-items: center;
    background: #303030;
    width: 44px;
    height: 44px;
    border-radius: 40px;
    padding: 12px;
}

.social-link img {
    width: 24px;
    height: 24px;
}

.social-link span {
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.copyright {
    display: flex;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 12px;
    color: var(--color-secondary);
}

.footer-legal {
    display: flex;
    gap: 40px;
}

.footer-legal a {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: var(--color-secondary);
    transition: color 0.2s ease;
    text-transform: uppercase;
}

.footer-legal a:hover {
    color: #ffc404;
}

.back-to-top {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    height: 32px;
    padding: 0 40px 0 16px;
    border-radius: 28px;
    background: url(../../../public/icons/round-arrow-up.svg) center right 16px no-repeat #303030;
    border: 0;
    transition: color 0.2s ease;
}

/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {
    .footer-links {
        max-width: 510px;
    }

    .footer-legal {
        display: flex;
        gap: 15px;
    }

    .copyright {
        font-size: 11px;
    }

    .footer-legal a {
        font-size: 11px;
    }

    .back-to-top {
        font-size: 13px;
    }
}

/* Для экранов уже 768px */
@media (max-width: 767px) {
    .footer-content {
        gap: 64px;
    }

    .footer-top {
        flex-direction: column;
        align-items: flex-start;
        gap: 64px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .footer-legal {
        flex-direction: column;
        gap: 20px;
    }

    .footer-social-container {
        align-items: flex-start;
    }

    .social-pane {
        margin-top: 64px;
    }

    .footer-links {
        flex-direction: column;
        max-width: 100%;
        gap: 60px;
    }

    .copyright {
        font-size: 12px;
    }

    .footer-legal a {
        font-size: 12px;
    }

    .back-to-top {
        font-size: 14px;
    }
}

/* Для экранов уже 480px */
@media (max-width: 480px) {}