.footer {
    display: flex;
    justify-content: center;
    background: #1b1b1b;
    padding: 140px 0 32px 0;
    margin-top: -40px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    max-width: 1120px;
}

.footer-top {
    display: flex;
    align-items: flex-start;
    gap: 245px;
}

.footer-logo {
    width: 156px;
}

.footer-links {
    display: flex;
    gap: 60px;
}

.footer-social {
    display: flex;
    gap: 16px;
}

.social-item {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 30px 20px 30px 80px;
    background: #303030;
    border-radius: 16px;
    height: 80px;
}

.social-item img {
    width: 24px;
    height: 24px;
}

.social-item span {
    font-weight: 500;
    font-size: 16px;
    color: white;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    font-weight: 500;
    font-size: 12px;
    color: var(--color-secondary);
}

.footer-legal {
    display: flex;
    gap: 40px;
}

.footer-legal a {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: var(--color-secondary);
    transition: color 0.2s ease;
    text-transform: uppercase;
}

.footer-legal a:hover {
    color: white;
}

.back-to-top {
    text-align: right;
    font-weight: 500;
    font-size: 12px;
    color: var(--color-secondary);
    cursor: pointer;
    transition: color 0.2s ease;
    text-transform: uppercase;
}

.back-to-top:hover {
    color: white;
}