.footer-column {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-heading {
    font-weight: 500;
    font-size: 14px;
    color: #4b4b4b;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: white;
    transition: color 0.2s ease;
    white-space: pre-line;
}

.footer-link:hover {
    color: #ffc404;
}

/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {
    .footer-column {
        width: 160px;
    }

    .footer-link {
        font-size: 14px;
    }
}

/* Для экранов уже 768px */
@media (max-width: 767px) {
    .footer-column {
        width: 200px;
    }

    .footer-link {
        font-size: 16px;
    }
}

/* Для экранов уже 480px */
@media (max-width: 480px) {}