.section {
    padding: 80px 0;
    width: 100%;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.grid {
    margin-top: 120px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    width: 100%;
}

.grid > div {
    grid-column-start: span 2;
}

.grid.five > div:nth-last-child(-n+2) {
    grid-column-start: span 3;
}

/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {
    .grid {
        margin-top: 48px;
        grid-template-columns: repeat(4, 1fr);
    }

    .grid > div {
        grid-column-start: span 2;
    }

    .grid.five > div:nth-last-child(-n+2) {
        grid-column-start: span 2;
    }
}

/* Для экранов уже 768px */
@media (max-width: 767px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Для экранов уже 480px */
@media (max-width: 480px) {}