.section {
    padding: 80px 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
}

.grid {
    margin-top: 120px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    width: 100%;
}

.grid > div {
    grid-column-start: span 2;
}

.grid.five > div:nth-last-child(-n+2) {
    grid-column-start: span 3;
}