.card {
    flex: 1;
    background-color: #f7f7f7;
    border-radius: 16px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
    position: relative;
}

.iconWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px;
    background-color: #ffc404;
    border-radius: 16px;
    width: fit-content;
}

.icon {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.content {
    font-family: 'Geist', sans-serif;
    font-weight: 400;
    color: #1E1E1E;
    font-size: 20px;
    letter-spacing: -0.4px;
    line-height: 28px;
    text-align: center;
}

.content strong {
    font-weight: 500;
}


.card:not(:last-child)::after {
    position: absolute;
    content: "";
    top: calc(50% - 20px);
    right: 0;
    transform: translateX(calc(50% + 8px));
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 40px;
    height: 40px;

    background: url('../../../../../../public/icons/arrow-right.svg') no-repeat center #fff;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
}