.input-container {
  width: 100%;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 28px 10px 0 52px;
  border: 1px solid transparent;
  font-weight: 400;
  color: #1e1e1e;
  font-size: 16px;
  line-height: 24px;
  background: #f3f3f3;
  transition: all 0.2s ease;
  box-sizing: border-box;
  border-radius: 16px;
  resize: none;
  min-height: 124px;
}

.input-field:hover {
  background-color: #E8E8E8;
}

.input-field:focus {
  outline: none;
  background-color: #E8E8E8;
  border: 1px solid #1B1B1B;
}

.input-field:disabled {
  background-color: #f9fafb;
  color: #888888;
  cursor: not-allowed;
}

.input-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  left: 16px;
  top: 20px;
  z-index: 1;
}

.input-label {
  position: absolute;
  left: 52px;
  top: 20px;
  color: #888888;
  font-size: 16px;
  line-height: 1.5;
  pointer-events: none;
  transition: all 0.2s ease;
  padding: 0;
  margin: 0;
}

.input-label-active {
  top: 10px;
  font-size: 12px;
  transform: translateY(-50%);
}

.input-field:focus + .input-label:not(.input-label-active) {
  color: #3b82f6;
}

.input-label-active.input-label {
  transform: translateY(0);
}

.required-asterisk {
  color: #ef4444;
  margin-left: 2px;
}

.input-message {
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  padding: 0 16px;
  font-weight: 400;
  color: #888888;
}

.input-message-caption {
  color: #888888;
}

.input-message-error {
  color: #FF3236;
}

.input-error .input-field {
  border-color: #FF3236;
  background-color: rgba(255, 50, 54, 0.12);
}

.input-error .input-field:focus {
  border-color: #FF3236;
}

.input-disabled .input-field {
  border-color: #e5e7eb;
}

.input-disabled .input-label {
  background-color: #f9fafb;
  color: #9ca3af;
}