@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --max-width: 1200px;
  --font-sans: 'Geist', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Button start */
.button {
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 48px;
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 500;
  font-size: 14px;
  border-radius: 28px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  background: #f3f3f3;
}

.button-tertiary {
  background: #f3f3f3;
}

.button:hover,
.button-tertiary:hover  {
  background: #F4F4F4;
}

.button-primary {
  background: #FFC404;
}

.button-primary:hover  {
  background: #EBB404;
}
/* Button end */