@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

:root {
  --background: #ffffff;
  --foreground: #1E1E1E;

  --max-width: 1200px;
  --font-sans: 'Geist', sans-serif;

  --color-primary: #1E1E1E;
  --color-secondary: #888888;

  --button-size-s: 40px;
  --button-size-m: 48px;
  --button-text-size-s: 14px;
  --button-text-size-m: 16px;
  --button-text-color: #1E1E1E;
  --button-primary: #FFC404;
  --button-primary-hover: #EBB404;
  --button-tertiary: #F3F3F3;
  --button-tertiary-hover: #F4F4F4;
  --button-secondary: #c8c8c8;
  --button-secondary-hover: #d7d7d7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
}

/* Button start */
.button {
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: var(--button-size-m);
  text-decoration: none;
  color: var(--button-text-color);
  font-weight: 500;
  font-size: var(--button-text-size-m);
  border-radius: 28px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  background: var(--button-tertiary);
}

.button-tertiary {
  background: var(--button-tertiary);
}

.button:hover,
.button-tertiary:hover  {
  background: var(--button-tertiary-hover);
}

.button-primary {
  background: var(--button-primary);
}

.button-primary:hover  {
  background: var(--button-primary-hover);
}

.button-secondary {
  background: var(--button-secondary);
}

.button-secondary:hover  {
  background: var(--button-secondary-hover);
}

.button-small {
  height: var(--button-size-s);
  font-size: var(--button-text-size-s);
}
/* Button end */