.modal {
  position: relative;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.quick-contact {
  position: fixed;
  width: 140px;
  z-index: 2;
  bottom: 73px;
  right: 40px;
  gap: 12px;
  display: flex;
}

.contact-button {
  width: 64px;
  height: 64px;
  border-radius: 48px;
  padding: 16px;
  gap: 8px;
  background-color: rgba(30, 30, 30, 0.3);
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-button-phone {
  background: url('../../../public/icons/phone-calling.svg') center no-repeat rgba(30, 30, 30, 0.3);
}

.contact-button-chat {
  background: url('../../../public/icons/chat.svg') center no-repeat rgba(139, 112, 54, 0.4);
}

.contact-button-chat.open {
  background: url('../../../public/icons/close-white.svg') center no-repeat rgba(30, 30, 30, 0.3);
}

.chat-button-wrapper {
  position: relative;
}

.chat-dropdown-container {
  position: relative;
}

.chat-dropdown {
  position: absolute;
  right: 0;
  bottom: 72px;
  width: 64px;
  min-height: 64px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-email {
  background: url('../../../public/icons/letter-white.svg') center no-repeat rgba(66, 133, 244, 1);
}

.button-wp {
  background: url('../../../public/icons/whatsapp.svg') center no-repeat rgba(37, 211, 102, 1);
}

.button-phone {
  background: url('../../../public/icons/smartphone-white.svg') center no-repeat rgba(97, 85, 245, 1);
}


/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {
    
}

/* Для экранов уже 768px */
@media (max-width: 767px) {
    .quick-contact {
      flex-direction: column-reverse;
      width: 52px;
      bottom: 40px;
    }

    .contact-button {
      width: 52px;
      height: 52px;
    }

    .chat-dropdown {
      width: 52px;
      gap: 4px;
      bottom: 56px;
    }
}

/* Для экранов уже 480px */
@media (max-width: 480px) {}