.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    padding: 16px 16px 0 16px;
}

.header.isOpen::after {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.4);
}

.container {
    display: flex;
    position: relative;
    max-width: 1200px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px 0 14px;
    height: 64px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 32px;
    box-shadow: 0 4px 16px rgba(30, 30, 30, 0.08);
    backdrop-filter: blur(15px);
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

.menuButton {
    width: 40px;
    height: 40px;
    background-color: rgba(30, 30, 30, 0.06);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.closeButton {
    background-image: url(../../../../public/icons/close.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.burgerButton {
    background-image: url(../../../../public/icons/burger.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.menuButton:hover {
    background-color: #e8e8e8;
}

/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {}

/* Для экранов уже 768px */
@media (max-width: 767px) {}

/* Для экранов уже 480px */
@media (max-width: 480px) {}