.faq-section {
    background: #fff;
    padding: 160px 20px;
    border-radius: 0 0 40px 40px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
}

.section-subtitle {
    font-family: var(--font-sans);
    font-weight: 500;
    color: var(--color-secondary);
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: 20px;
    text-transform: uppercase;
}

.faq-title {
    font-weight: 500;
    color: var(--color-primary);
    font-size: 64px;
    letter-spacing: -0.4px;
    line-height: 100%;
    margin: 0;
}

.faq-content {
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
}

.faq-left {
    width: 342px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.faq-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-contact {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--color-primary);
}

.faq-contact span {
    color: #ffc404;
    letter-spacing: -0.08px;
    line-height: 24px;
}

.faqList {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Для экранов шире 768px */
@media (min-width: 768px) {}

/* Для экранов уже 768px */
@media (max-width: 767px) {
    .faq-section {
        padding: 80px 20px;
    }

    .faq-content {
        gap: 20px;
        flex-direction: column;
    }

    .faq-title {
        font-size: 32px;
        line-height: 40px;
    }

    .faq-left {
        width: 100%;
    }

    .faqList {
        width: 100%;
        margin-top: 80px;
    }

    .faq-contact {
        font-size: 14px;
        line-height: 20px;
        margin-top: 80px;
    }
}

/* Для экранов уже 480px */
@media (max-width: 480px) {}