.faq-section {
    background: #fff;
    padding: 160px 0;
    border-radius: 0 0 40px 40px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
}

.section-subtitle {
    font-family: var(--font-sans);
    font-weight: 500;
    color: #888888;
    font-size: 14px;
    letter-spacing: 0.56px;
    line-height: 20px;
    text-transform: uppercase;
}

.faq-content {
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
}

.faq-left {
    width: 342px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.faq-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.faq-subtitle {
    font-weight: 500;
    font-size: 14px;
    color: #888888;
    letter-spacing: 0.56px;
}

.faq-title {
    font-family: var(--font-sans);
    font-weight: 500;
    color: #1E1E1E;
    font-size: 64px;
    letter-spacing: -4px;
    line-height: 64px;
    margin: 0;
}

.faq-contact {
    font-family: var(--font-sans);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1E1E1E;
}

.faq-contact span {
    color: #ffc404;
    letter-spacing: -0.08px;
    line-height: 24px;
}

.faqList {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}