.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1120px;
    min-height: 100px;
    padding: 0 12px;
}

.title {
    font-weight: 500;
    color: var(--color-primary);
    font-size: 64px;
    letter-spacing: -0.4px;
    line-height: 72px;
    flex-shrink: 0;
}

.description {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-left: 180px;
    margin-top: 87px;
    align-self: flex-end;
    font-weight: 400;
    color: var(--color-primary);
    font-size: 20px;
    line-height: 28px;
}

.description p:not(:last-child) {
    margin-bottom: 24px;
}

.description mark {
    border-radius: 8px;
    padding: 0 4px;
    background-color: #FFE79B;
    box-decoration-break: clone;
}

/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {
    .container {
        flex-direction: column;
    }

    .description {
        margin-left: 0;
    }
}

/* Для экранов уже 768px - 2 колонки */
@media (max-width: 767px) {
    .title {
        font-size: 32px;
        line-height: 40px;
        flex-shrink: 0;
    }

    .description {
        margin-top: 48px;
        font-size: 16px;
        line-height: 24px;
    }
}

/* Для экранов уже 480px - 1 колонка */
@media (max-width: 480px) {
    
}