.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    align-items: center;
}

.align-left {
    align-items: flex-start;
}

.title {
    font-size: 14px;
    line-height: 20px;
    color: var(--color-secondary);
    font-weight: 500;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.middle .title {
    font-size: 20px;
    line-height: 24px;
}

.description {
    font-size: 48px;
    line-height: 56px;
    color: var(--color-primary);
    font-weight: 500;
    letter-spacing: -0.4px;
    text-align: center;
}

.align-left .description {
    text-align: left;
}

.middle .description {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.2px;
}