.award {
  width: 100%;
  height: 180;
  display: flex;
  border-radius: 24px;
  border: 1px solid rgba(234, 234, 236, 1);
  background-color: #fff;
  padding: 40px;
  align-items: center;
}

.icon-wrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-shrink: 0;
}

.icon {
  width: auto;
  object-fit: none;
}

.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.2px;
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  padding-left: 42px;
  margin-left: 42px;
  border-left: 1px solid rgba(234, 234, 236, 1);
}

.info {
  display: flex;
}

.year {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: var(--color-secondary);
  display: flex;
  align-self: flex-start;
}

.card {
  flex-direction: column;
  height: 316px;
  padding: 32px;
  gap: 24px;
}

.card .info {
  flex-direction: column;
}

.card .icon-wrapper {
  width: auto;
  height: 70px;
  justify-content: center;
}

.card .title {
  border-top: 1px solid rgba(234, 234, 236, 1);
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
  margin-top: 24px;
  padding-top: 24px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  align-items: flex-start;
}

.card:nth-child(2) {
  height: 380px;
}

.card:nth-child(2) .title {
  margin-top: 32px;
  padding-top: 32px;
}

.card:nth-child(2) .icon-wrapper {
  margin-top: 20px;
}