.news {
    width: 100%;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.nav {
    display: flex;
    margin-bottom: 48px;
}

.images {
    width: 100%;
    overflow: hidden;
    border-radius: 24px;
    margin-bottom: 48px;
}

.image {
    width: 100%;
    min-height: 200px;
    max-height: 600px;
    object-fit: cover;
}

.date {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #888888;
}

.title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -2%;
    margin-bottom: 40px;
    color: #1E1E1E;
}

.text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #1E1E1E;
    margin-bottom: 120px;
    gap: 10px;
}

.text p:not(:last-child) {
    margin-bottom: 20px;
}

.button-back,
.button-back:hover {
    background-color: rgba(255, 255, 255, 0.3);
    background-image: url(../../../../../public/icons/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: left 18px center;
    padding-left: 44px;
}