.container {
  display: flex;
  flex-direction: column;
  padding: 120px 0;
  gap: 120px;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -4%;
  text-align: center;
  color: #1E1E1E;
}

.news {
  width: 100%;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

/* Для экранов Диапазон: 768px — 1023px */
@media (max-width: 1023px) {}

/* Для экранов уже 768px - 2 колонки */
@media (max-width: 767px) {
  .container {
    padding: 80px 0;
    gap: 80px;
  }

  .news {
    gap: 8px;
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }
}

/* Для экранов уже 480px - 1 колонка */
@media (max-width: 480px) {}