.w-full {
    width: 100%;
}

.h-full {
    height: 976px;
}

.section {
    background-color: var(--background);
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.title-wrapper {
    position: absolute;
    top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.bouncing-container {
    max-width: 1120px;
    height: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {}

/* Для экранов уже 768px - 2 колонки */
@media (max-width: 767px) {
    .section {
        height: 812px;
        min-height: 812px;
    }

    .h-full {
        height: 812px;
    }

    .title-wrapper {
        top: 80px;
    }

    .buttons {
        flex-direction: column;
    }
}

/* Для экранов уже 480px - 1 колонка */
@media (max-width: 480px) {}