.section {
    padding: 80px 0;
    width: 100%;
}

.container {
    margin: 0 auto;
}

.video-container {
    margin: 120px 0;
    padding: 0;
    height: 704px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-title {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    font-size: 72px;
    letter-spacing: -0.4px;
    line-height: 80px;
    text-align: center;
    margin: 0;
    position: absolute;
}

.cards {
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    gap: 16px;
}


/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {
    .cards {
        flex-direction: column;
    }
}

/* Для экранов уже 768px */
@media (max-width: 767px) {
    .video-container {
        margin: 80px 0;
        border-radius: 24px;
    }

    .video-title {
        font-size: 48px;
        line-height: 64px;
    }
}

/* Для экранов уже 480px */
@media (max-width: 480px) {}