.key-facts-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 120px;
  padding: 120px 0;
  position: relative;
}

.key-facts-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  width: 100%;
}

.header-title span {
  background: url('../../../public/highlight.svg') 0 1px no-repeat;
  background-size: 100%;
  padding: 4px 10px;
}

.key-facts-label {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  color: var(--color-secondary);
  font-size: 14px;
  letter-spacing: 0.56px;
  line-height: 20px;
  white-space: nowrap;
  text-transform: uppercase;
}

.header-title {
  position: relative;
  width: 100%;
  font-weight: 500;
  color: var(--color-primary);
  font-size: 48px;
  text-align: center;
  letter-spacing: -1.92px;
  line-height: 56px;
  white-space: pre-line;
}

.key-facts-grid {
  position: relative;
  width: 100%;
  height: 642px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key-facts-grid-inner {
  position: relative;
  width: 614px;
  height: 310px;
}

.key-fact-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  border-radius: 16px;
}

.key-fact-card.card-1 {
  width: 232px;
  height: 206px;
  /* top: 98px;
  left: 322px; */
  top: 262px;
  left: 160px;
  background-color: white;
  border: 1px solid #eaeaec;
}

.key-fact-card.card-2 {
  width: 232px;
  height: 206px;
  /* top: 66px;
  left: 0; */
  top: -182px;
  left: 55px;
  background-color: #8b7036;
}

.key-fact-card.card-3 {
  width: 268px;
  height: 206px;
  /* top: 18px;
  left: 100px; */
  top: -182px;
  left: 303px;
  background-color: white;
  border: 1px solid #eaeaec;
}

.key-fact-card.card-4 {
  width: 232px;
  height: 206px;
  /* top: 104px;
  left: 148px; */
  top: 40px;
  left: -24px;
  background-color: #faf9f6;
}

.key-fact-card.card-5 {
  width: 248px;
  height: 206px;
  /* top: 50px;
  left: 366px; */
  top: 262px;
  left: 408px;
  background-color: #fffaeb;
}

.key-fact-card.card-6 {
  width: 180px;
  height: 206px;
  /* top: 0;
  left: 348px; */
  top: 40px;
  left: 472px;
  background-color: #faf9f6;
}

.key-fact-card.card-7 {
  width: 232px;
  height: 206px;
  top: 40px;
  left: 224px;
  background-color: #0a101d;
}

.key-fact-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.key-fact-title-section {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 1;
  width: 100%;
}

.key-fact-title {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.2px;
  line-height: 16px;
  white-space: pre-line;
}

.key-fact-title.white {
  color: white;
}

.key-fact-title.dark {
  color: var(--color-primary);
}

.key-fact-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
}

.key-fact-value-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.key-fact-value {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -0.72px;
  line-height: 48px;
  white-space: nowrap;
}

.key-fact-value.white {
  color: white;
}

.key-fact-value.dark {
  color: var(--color-primary);
}

.key-fact-description-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.key-fact-description {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.2px;
  line-height: 32px;
  white-space: normal;
}

.key-fact-description.white {
  color: white;
}

.key-fact-description.dark {
  color: var(--color-primary);
}

/* Для экранов Диапазон: 768px — 1023px - Планшеты (Портретная и альбомная ориентация) */
@media (max-width: 1023px) {}

/* Для экранов уже 768px */
@media (max-width: 767px) {
  .key-facts-container {
    padding: 120px 20px;
  }

  .header-title {
    font-size: 32px;
    line-height: 40px;
  }

  .key-facts-grid {
    width: 100%;
    height: auto;
  }

  .key-facts-grid-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
    gap: 12px;
  }

  .key-facts-container .key-fact-card {
    padding: 12px;
    width: 100%;
    height: 120px;

    position: relative;
    left: 0;
    top: 0;
  }

  .key-fact-title {
    font-size: 10px;
    letter-spacing: 0;
    line-height: 12px;
  }

  .key-fact-value {
    font-size: 20px;
    letter-spacing: -0.1px;
    line-height: 30px;
  }

  .key-fact-description {
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 20px;
  }
}

/* Для экранов уже 480px */
@media (max-width: 480px) {}