.apps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 16px; /* 24px между строками, 16px между колонками */
}

.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 56px;
    gap: 12px;
}

.app-icon {
    width: 56;
    height: 56;
    border-radius: 12px;
    box-shadow: 0px 12px 24px 0px rgba(139, 108, 20, 0.24);

}

.app-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #1A1A1A;
}