.news {
  width: 100%;
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
}

.container {
  padding-top: 20px !important;
}

/* Для экранов Диапазон: 768px — 1023px */
@media (max-width: 1023px) {}

/* Для экранов уже 768px - 2 колонки */
@media (max-width: 767px) {
  .news {
    gap: 8px;
  }
}

/* Для экранов уже 480px - 1 колонка */
@media (max-width: 480px) {}